body{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: #7DCFB6;
}

/*.img {
	width: 70%;
	position: absolute;
	z-index: -1;
	margin: 0;
	object-position: : center;
	object-fit: cover;
	opacity: .3;
}*/
#greetings{
	color: #EEE;
	border: 2px solid white;
}

#response{
	color: #EEE;
}

#question-text {
	color: #EEE;
}
#emoticons{
	width: 200px;
}